# macOS
.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserdatad
*.xcuserstate

# Xcode build and intermediate files
DerivedData/
build/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# CocoaPods
Pods/
